// color
$color-coral: #ff7f50;
$color-wheat: #f5deb2;
$color-grey: #ccc;

// Font
$font-family: Arial, Helvetica, sans-serif;

// Spacing
$spacing-basic: 8px;
$spacing-double: $spacing-basic * 2;
$spacing-triple: $spacing-basic * 3;
$spacing-quatre: $spacing-basic * 4;

.todo-list {
  display: flex;
  margin-top: 32px;
  max-width: 600px;
  margin: auto;
  padding: $spacing-basic;
  background-color: $color-coral;
  border-radius: $spacing-basic;
  flex-direction: column;
}

.actions {
  display: flex;
  margin-bottom: $spacing-basic;
}

.task-input {
  height: 32px;
  border: 3px solid $color-grey;
  border-radius: $spacing-basic;
  flex: 1;
}

.btn {
  height: 32px;
  min-width: 64px;
  border: 3px solid $color-grey;
  border-radius: $spacing-basic;
  margin-left: $spacing-double;
  outline: none;
  cursor: pointer;
}

.list {
  margin: 0;
  width: 100%;
  margin: auto;
  padding: 0;
  list-style-type: none;

  &__item {
    margin-bottom: $spacing-basic;
  }
}

.list-item {
  display: flex;
  height: 40px;
  padding: $spacing-basic;
  background-color: $color-wheat;
  border-radius: $spacing-basic;
  align-items: center;
  &_done {
    opacity: 0.7;
    .list-item__text {
      text-decoration: line-through;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__checkbox {
    margin-right: 8px;
  }

  &__delete-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-left: auto;
    text-decoration: none;
    padding: 0;
    transform: rotate(45deg);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    opacity: 0.7;

    &::before {
      content: '+';
    }
  }
}
